<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.service">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.example.charibee.functions.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.charibee.activities.UpdateInterestsActivity"></activity>
        <activity android:name="com.example.charibee.activities.ChatActivity" />
        <activity android:name="com.example.charibee.activities.UserDetailsActivity" />
        <activity android:name="com.example.charibee.activities.EditOrganizationActivity" />
        <activity android:name="com.example.charibee.location.MapActivity" />
        <activity android:name="com.example.charibee.location.MapTestActivity" />
        <activity android:name="com.example.charibee.activities.SettingsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.service.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <activity android:name="com.example.charibee.activities.EditProfileActivity" />
        <activity android:name="com.example.charibee.activities.OrganizationDetailsActivity" />
        <activity android:name="com.example.charibee.activities.NewOrganizationActivity" />
        <activity
            android:name="com.example.charibee.activities.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.charibee.activities.LoginActivity" />
        <activity android:name="com.example.charibee.activities.RegisterActivity" />
        <activity android:name="com.example.charibee.activities.MainActivity" /> <!-- Google Maps -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjubfSlbMRKOiREhDIRmaOwaZth9vyZDQ" />
    </application>

</manifest>